/*  --------------------------------------------------- 250px */
@media only screen and (max-width: 250px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
    margin: 20px 0;
    height: 15vh;
  }
  h3 {
    font-size: 1rem;
    margin: 15px 0 15px 15px;
  }
  h4 {
    font-size: 1rem;
    width: 180px;
  }
  .text {
    width: 100%;
  }

  .projects-section {
    margin-bottom: 35px;
  }
  .center {
    flex-direction: column;
  }
  .project-contentContainer {
    width: 100%;
    padding: 30px 0;
  }

  .project-imgContainer {
    width: 95%;
    min-width: 200px;
  }

  .aboutMe-textContainer {
    width: 100%;
    margin-top: 20px;
  }

  .aboutMe-picture {
    min-width: 180px;
    max-width: 200px;
    max-height: 200px;
  }
  .icons-mini {
    width: 35px;
    height: 35px;
  }

  .row {
    padding: 0 5px;
  }

  .styledButton {
    padding: 5px;
    width: 120px;
  }

  p,
  h3,
  h4,
  h2,
  span {
    letter-spacing: 1px;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) and (min-width: 250px) {
  p {
    font-size: 17px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
    margin: 25px 0;
    height: 15vh;
  }
  h3 {
    font-size: 1.3rem;
    margin: 15px 0 15px 15px;
  }
  h4 {
    font-size: 1rem;
    width: 200px;
  }
  .projects-section {
    margin-bottom: 35px;
  }

  .text {
    width: 100%;
  }

  .center {
    flex-direction: column;
  }
  .project-contentContainer {
    width: 100%;
    padding: 30px 0;
  }

  .project-imgContainer {
    width: 95%;
    min-width: 210px;
  }

  .aboutMe-textContainer {
    width: 100%;
    margin-top: 20px;
  }

  .aboutMe-picture {
    min-width: 210px;
    max-width: 250px;
    max-height: 250px;
  }
  .icons-mini {
    width: 35px;
    height: 35px;
  }

  .row {
    padding: 0 5px;
  }

  .styledButton {
    padding: 7px;
    width: 120px;
  }

  p,
  h3,
  h4,
  h2,
  span {
    letter-spacing: 1px;
  }
}
/* (max-width: 768px) and (min-width: 481px)====================================================== */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  p {
    font-size: 17px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    margin: 35px 0;
    height: 20vh;
  }
  h3 {
    font-size: 1.7rem;
    margin: 25px 0 25px 25px;
  }
  h4 {
    font-size: 1rem;
    width: 240px;
  }
  .projects-section {
    margin-bottom: 40px;
  }

  .center {
    flex-direction: column;
  }
  .project-contentContainer {
    width: 100%;
    padding: 30px 0;
  }

  .project-imgContainer {
    width: 90%;
    min-width: 320px;
  }

  .aboutMe-textContainer {
    width: 100%;
    margin-top: 20px;
  }

  .aboutMe-picture {
    min-width: 240px;
    max-width: 260px;
    max-height: 260px;
  }

  .icons-mini {
    width: 35px;
    height: 35px;
  }

  .styledButton {
    padding: 8px;
    width: 130px;
  }
}

/*  (max-width: 1024px) and (min-width: 769px)   ============================================================================= */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
    margin: 60px 0;
    height: 20vh;
  }
  h3 {
    font-size: 2.1rem;
    margin: 35px 0 35px 35px;
  }
  h4 {
    font-size: 1.3rem;
  }

  .projects-section {
    margin-bottom: 60px;
  }
  .center {
    flex-direction: column;
  }
  .project-contentContainer {
    width: 100%;
    padding: 30px 0;
  }

  .project-imgContainer {
    width: 80%;
  }

  .aboutMe-textContainer {
    width: 100%;
    margin-top: 20px;
  }
  .aboutMe-picture {
    min-width: 260px;
    max-width: 280px;
    max-height: 280px;
  }

  .icons-mini {
    width: 40px;
    height: 40px;
  }
}

/* (max-width: 1200px) and (min-width: 1025px)====================================================== */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  /*  SECTION-STEPS   ============================================================================= */
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.7rem;
    margin: 80px 0;
    height: 25vh;
  }
  h3 {
    font-size: 2.3rem;
    margin: 40px 0 40px 40px;
  }
  .projects-section {
    margin-bottom: 80px;
  }
  .aboutMe-picture {
    min-width: 280px;
    max-width: 320px;
    max-height: 320px;
  }
}

/* (max-height: 600px) and (max-width: 480px)====================================================== */
@media only screen and (max-height: 600px) and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
