* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
}

::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(255, 0, 0, 0.623);
}

::selection {
  color: white;
  background: rgba(255, 0, 0, 0.623);
}

/* -------------------------REUSABLE*/
h1 {
  font-size: 4rem;
  color: black;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.623);
  height: 30vh;

  margin-bottom: 100px;
  margin-top: 100px;
}

h3 {
  font-size: 2.5rem;
  margin: 50px 0 50px 50px;
  padding: 5px;

  border: 2px solid transparent;
  border-bottom: 2px solid rgba(255, 0, 0, 0.623);

  transition: border 200ms ease;
}
h3:hover {
  border: 2px solid rgba(255, 0, 0, 0.623);
  cursor: pointer;
}

h4 {
  font-size: 1.5rem;
  padding: 30px 15px 5px 15px;
  width: 300px;

  color: white;
  border-bottom: 2px solid rgba(255, 0, 0, 0.623);
  text-align: center;
}

p,
h3,
h4,
h2,
span {
  letter-spacing: 1.5px;
}

a {
  color: black;
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 1440px;
  position: relative;
  padding: 0 20px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 70%;
}

.styledButton {
  padding: 10px;
  width: 150px;
  border: 1px solid rgba(255, 0, 0, 0.623);
  transition: all 400ms ease;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.styledButton:hover {
  background-color: rgba(255, 0, 0, 0.623);
}

/* -------------------------HERO SECTION  */
.hero-section {
  height: 100vh;
  width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;
  height: 30%;
  margin-left: 20px;

  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-300%, -100%);
  z-index: 2;
}
.word-color {
  color: rgba(255, 0, 0, 0.623);
}

.aboutMe-section {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  line-height: 140%;
}

.aboutMe-section h2 {
  margin-top: 0;
}

.aboutMe-container {
  height: calc(100% - 30%);
}

.aboutMe-container .text {
  flex-direction: column;
  padding-right: 0;
  gap: 30px;
}

.aboutMe-background {
  height: 20vh;
  background-color: rgba(255, 0, 0, 0.623);
}

.aboutMe-picture {
  min-width: 320px;
  width: 30%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;

  background-color: rgba(248, 248, 248, 0.623);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.picture-container:hover {
  transform: scale(1.1);
}

.picture-container {
  width: 80%;
  height: 80%;
  transition: transform 400ms ease;
}

.picture-container img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.aboutMe-textContainer {
  width: 70%;
}

/* -------------------------PROJECT SECTION  */

.projects-section {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.projects-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  padding-bottom: 40px;
}

.project-imgContainer {
  min-width: 420px;
  width: 50%;
  height: 80%;
  transition: transform 400ms ease;
}

.project-imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.project-contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 50%;
}

/* -------------------------FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.623);
}
footer a {
  padding: 15px;
}

footer p {
  padding: 4px;
  color: white;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icons-mini {
  width: 50px;
  height: 50px;
  filter: invert(98%) sepia(0%) saturate(9%) hue-rotate(157deg) brightness(102%)
    contrast(102%);
}
.icons-mini:hover {
  filter: invert(11%) sepia(74%) saturate(6288%) hue-rotate(4deg)
    brightness(100%) contrast(119%);
}

/* -------------------------HERO TEXT GOES FROM LEFT TO THE RIGHT */
.slide-right {
  animation: 1s slide-right 1s forwards;
}
@keyframes slide-right {
  to {
    transform: translate(-90%, -100%);
  }
}
